In [2]:
import pandas as pd
import numpy as np
import sentani as sti
survey = sti.get_survey()
##import pysentani

In [3]:
survey['access_type'] = survey['village_name'].apply(lambda x: sti.access_map.get(x))

In [4]:
survey['access_type/PLN_grid'] = survey['access_type'].str.contains('PLN_grid').astype('float')

In [5]:
survey['access_type/no_access'] = survey['access_type'].str.contains('no_access').astype('float')

#Full

In [16]:
pd.set_option('display.max_rows', 8)
df = survey[['app_now/TV','app_buy/TV','access_type']].tail(1184).fillna(0)

In [17]:
df

      app_now/TV  app_buy/TV access_type
0              1           0   no_access
1              1           0   no_access
2              1           0   no_access
3              1           0   no_access
...          ...         ...         ...
1180           1           0    PLN_grid
1181           1           0    PLN_grid
1182           0           1    PLN_grid
1183           1           0    PLN_grid

[1184 rows x 3 columns]

##(0-1) no_access

In [18]:
df = survey[['app_now/TV','app_buy/TV','access_type/no_access']].fillna(0)
df[(df['app_now/TV'] ==0) & (df['app_buy/TV']>0) & (df['access_type/no_access']>0)]

      app_now/TV  app_buy/TV  access_type/no_access
4              0           1                      1
7              0           1                      1
13             0           1                      1
14             0           1                      1
...          ...         ...                    ...
939            0           1                      1
970            0           1                      1
1000           0           1                      1
1011           0           1                      1

[47 rows x 3 columns]

##(0-1) PLN_grid

In [19]:
df = survey[['app_now/TV','app_buy/TV','access_type/PLN_grid']].fillna(0)
df[(df['app_now/TV'] ==0) & (df['app_buy/TV']>0) & (df['access_type/PLN_grid']>0)]

      app_now/TV  app_buy/TV  access_type/PLN_grid
52             0           1                     1
56             0           1                     1
82             0           1                     1
89             0           1                     1
...          ...         ...                   ...
1151           0           1                     1
1168           0           1                     1
1178           0           1                     1
1182           0           1                     1

[67 rows x 3 columns]

##(1-0) no_access

In [20]:
df = survey[['app_now/TV','app_buy/TV','access_type/no_access']].fillna(0)
df[(df['app_now/TV'] >0) & (df['app_buy/TV']==0) & (df['access_type/no_access']>0)]

      app_now/TV  app_buy/TV  access_type/no_access
0              1           0                      1
1              1           0                      1
2              1           0                      1
3              1           0                      1
...          ...         ...                    ...
1012           1           0                      1
1013           1           0                      1
1072           1           0                      1
1073           1           0                      1

[189 rows x 3 columns]

##(1-0) PLN_grid

In [21]:
df = survey[['app_now/TV','app_buy/TV','access_type/PLN_grid']].fillna(0)
df[(df['app_now/TV'] >0) & (df['app_buy/TV']==0) & (df['access_type/PLN_grid']>0)]

      app_now/TV  app_buy/TV  access_type/PLN_grid
46             1           0                     1
47             1           0                     1
48             1           0                     1
49             1           0                     1
...          ...         ...                   ...
1179           1           0                     1
1180           1           0                     1
1181           1           0                     1
1183           1           0                     1

[443 rows x 3 columns]

##(0-0) no_access

In [22]:
df = survey[['app_now/TV','app_buy/TV','access_type/no_access']].fillna(0)
df[(df['app_now/TV'] ==0) & (df['app_buy/TV']==0) & (df['access_type/no_access']>0)]

      app_now/TV  app_buy/TV  access_type/no_access
8              0           0                      1
15             0           0                      1
23             0           0                      1
27             0           0                      1
...          ...         ...                    ...
1004           0           0                      1
1009           0           0                      1
1010           0           0                      1
1014           0           0                      1

[89 rows x 3 columns]

##(0-0) PLN_grid

In [23]:
df = survey[['app_now/TV','app_buy/TV','access_type/PLN_grid']].fillna(0)
df[(df['app_now/TV'] ==0) & (df['app_buy/TV']==0) & (df['access_type/PLN_grid']>0)]

      app_now/TV  app_buy/TV  access_type/PLN_grid
84             0           0                     1
98             0           0                     1
104            0           0                     1
107            0           0                     1
...          ...         ...                   ...
1158           0           0                     1
1169           0           0                     1
1170           0           0                     1
1171           0           0                     1

[89 rows x 3 columns]

##(1-1) no_access

In [24]:
df = survey[['app_now/TV','app_buy/TV','access_type/no_access']].fillna(0)
df[(df['app_now/TV'] >0) & (df['app_buy/TV']>0) & (df['access_type/no_access']>0)]

     app_now/TV  app_buy/TV  access_type/no_access
6             1           1                      1
11            1           1                      1
207           1           1                      1
302           1           1                      1
..          ...         ...                    ...
886           1           1                      1
897           1           1                      1
925           1           1                      1
963           1           1                      1

[16 rows x 3 columns]

##(1-1) PLN_grid

In [25]:
df = survey[['app_now/TV','app_buy/TV','access_type/PLN_grid']].fillna(0)
df[(df['app_now/TV'] >0) & (df['app_buy/TV']>0) & (df['access_type/PLN_grid']>0)]

      app_now/TV  app_buy/TV  access_type/PLN_grid
55             1           1                     1
81             1           1                     1
83             1           1                     1
94             1           1                     1
...          ...         ...                   ...
1106           1           1                     1
1107           1           1                     1
1113           1           1                     1
1166           1           1                     1

[20 rows x 3 columns]

####total:960